{{> nav }}
<section class="mt-40"> <br>
    <header class="p-2 headerr">
        <div class="text-center">
            <h1 class="for-header">The Shop's Gallery</h1>
            <p>Hover on an item card to review its price. Click on the card to see more details about the product.
                <br> Use the cart icon to add the item to cart.
            </p>
        </div>
    </header>
    <section class="container">
        <br>
        <div class="row align-items-center">
            <div class="col text-center">
                <div class="new_arrivals_sorting">
                    <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked"
                            data-filter="*" onclick="shop()">all</li>
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center
                            align-items-center" data-filter=".women" onclick="category('women')">women's</li>
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center
                            align-items-center" data-filter=".accessories" onclick="category('accessories')">accessories</li>
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center
                            align-items-center" data-filter=".men" onclick="category('men')">men's</li>
                    </ul>
                </div>
            </div>
        </div>

        <br>
        <ul class="gallery">
            {{#if products }}
            {{#each products }}
            <li class="item"><img class="grid-item" src="/uploads/{{this.image}}">
                <div class="overlay">
                    <div class="text-center">
                        <a href="/shop/{{this._id}}" class="card_name">
                            <p>{{this.name}}</p>
                        </a>
                        <br>
                        <p class="price">&#8358;{{this.price}}</p>
                        <a href="#"
                            onclick='addToStorage(`{"quantity":1,"discount":"{{this.discount}}","id":"{{this._id}}", "image":"{{this.image}}", "description" :"{{this.description}}", "price" :"{{this.price}}", "name" :"{{this.name}}"}`)'><i
                                class="fas fa-cart-plus"></i></a>
                    </div>
                </div>
            </li>
            {{/each}}
            {{/if}}
        </ul>
    </section>
</section>

{{> footer }}
<style>
    .item {
        list-style: none;
    }
</style>
<script>
     var buttons = document.querySelectorAll(".grid_sorting_button")
    var pathname = window.location.pathname.split('/')
    var sec = pathname[pathname.length - 1].toLowerCase()
    buttons.forEach(function(button){
        console.log(button.textContent)
        if(button.textContent.toLowerCase().split("'")[0] == sec){
            button.classList.add("active")
        }
        else if(sec == 'shop' && button.textContent == 'all'){
            button.classList.add("active")
        }
        else{
            button.classList.remove("active")
        }
    })
    document.getElementById("cart_icon").addEventListener('click', function (event) {
        if (event.currentTarget !== event.target) {
            return;
        }
    }, false);
</script>